body
{
    font-family: 'calibri'; 
}
.bluebg
{
    background-color: #0068e8;
}
.center
{
    background-color: white;
    margin-left: 33%;
    margin-right: 34%;
    margin-top: 10%;
    border: 0px solid black;
    border-radius: 35px;
    text-align: center;
    padding: 20px;
}
.header 
{
    
    text-align: left;
   
    padding: 20px;
    
}

.topnav 
{
    overflow: hidden;
    background-color: rgb(255, 127, 22);
    font-family: 'calibri'; 
    color: #ffffff;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #6cc8ff;
    color: black;
}

.footer {
  background-color: #0068e8;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-family: 'calibri'; 
  height: 50px;
  margin-top: -50px;

}

.opacity-50
{
    opacity: 0.5;
}

.btn-color {
    color: #fff !important;
    background-color: rgb(48, 48, 48) !important;
    /*border-color: #357ebd; /*set the color you want here*/
}


.btn-color:hover, .btn-color:focus, .btn-color:active, .btn-color.active, .open>.dropdown-toggle.btn-color {
    color: #fff !important;
    background-color: rgb(255, 16, 88) !important;
    /*border-color: #285e8e; /*set the color you want here*/
}
/*.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0rem 0rem}*/
